@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  min-height: 100%;
}

.form-container {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("iitgncover1.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  background: transparent;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  height: inherit;
  width: auto;
  padding: 20px;
}

.form .heading {
  text-align: center;
  font-size: 2em;
  color: rgb(49, 48, 48);
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
}

.form .input-comps {
  margin: 25px 0;
  text-align: center;
}

.form .input-comps .comps {
  width: 340px;
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
  outline: none;
  border: none;
  border-color: white;
}

.comps:hover {
  background-color: rgba(240, 237, 237, 0.729);
}

.describe {
  resize: none;
  overflow: hidden;
}

#submit {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  padding: 0 10px;
  transition: 0.1s ease;
}

#submit:hover {
  font-size: 1.25em;
  width: 155px;
  height: 42px;
  border-radius: 25px;
  background-color: rgb(219, 214, 214);
}

.butn {
  width: 100px;
  height: 35px;
  border-radius: 20px;
  padding: 0 10px;
}

.userloginbtn{
  width: 130px;
  height: 40px;
  border-radius: 20px;
  padding: 0 10px;
}
#loginbtn{
  display: none;
}

#logoutbtn{
  display: none;
}

.butn:hover{
  font-size: 1.05em;
  background-color: rgb(219, 214, 214);
}

::placeholder {
  color: black;
}

.footer {
  background-color: rgba(0, 0, 0, 0.887);
  height: 65px;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}

.footer-content {
  color: white;
  font-size: 1.2em;
}

.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%) scale(0);
  transition: 0.25s ease-in-out;
  z-index: 10;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  width: 400px;
  height: 200px;
  max-width: 60%;
}

.popup.active{
  transform: translate(-50% , -50%) scale(1);
}

.modal-header #closeBtn{
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.messageTitle{
  font-size: 1.5rem;
  font-weight: bolder;
}

.messageBody{
  padding: 10px;
}

th , td{
  font-size: 0.8rem;
}

.resolveBtn , .deleteBtn{
  width: 75px;
  height: 30px;
  border-radius: 10px;
  margin: 5px 0px ;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-color:rgb(50, 49, 49);
  outline: none;
  border: none;
}

.resolvepopup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%) scale(0);
  transition: 0.25s ease-in-out;
  z-index: 10;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  width: 400px;
  min-height: 200px;
  max-width: 60%;
}

.resolvepopup.active{
  transform: translate(-50% , -50%) scale(1);
}

.resolvepopup #rescloseBtn{
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.resolvepopup .message-input{
  margin: 10px 0px;
}

.resolvepopup #resMsg{
  width: 100%;
  height: 100px;
  border: 0.5px solid grey;
  outline: none;
  border-radius: 5px;
  padding: 0px 5px;
  resize: none;
}

