<!-- importing base template-->
{% extends "base.html" %}

{% block content %}
<!--Login Form -->

<div class="form-container">
    <form class="form">
        <h2 class="heading">Student Login</h2>
        <div class="mb-3 input-comps">
            <input type="email" name="email" class="comps" id="studentEmail" placeholder="Your IITGN Email">
        </div>
        <div class="mb-3 input-comps">
            <input type="password" class="comps" placeholder="Your IITGN Password" id="studentPassword">
        </div>
        <div style="text-align: center; margin-top: 30px ;">
            <button type="button" id="studentLoginBtn" class="userloginbtn">Login</button>
        </div>
    </form>
</div>

<!--creating a popup if an login fails-->
<div class="popup" id="loginPopup">
    <div class="modal-header">
      <div class="messageTitle" id="messageTitle"></div>
      <button type="button" id="closeBtn">&times;</button>
    </div>
    <div class="messageBody" id="messageBody"></div>
</div>

<!-- Javascript for getting the login button apper after redirecting to this page-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (window.location.href.indexOf('/') !== -1) {
            document.getElementById('loginbtn').style.display = 'block'
        }
    })
</script>

{% endblock %}